@keyframes float {
  0% {
    transform: translateX(0);
  }
  5% {
    transform: translateX(10rem);
  }
  10% {
    transform: translateY(20rem);
    transform: rotate(-10deg);
  }
  15% {
    transform: translateX(25rem);
    transform: rotate(10deg);
  }
  20% {
    transform: translateY(13rem);
  }
  25% {
    transform: translateY(35rem);
    transform: rotate(40deg);
  }
  30% {
    transform: translateY(20rem);
  }
  35% {
    transform: translateX(25rem);
  }
  40% {
    transform: translatex(20rem);
    transform: rotate(-25deg);
  }
  55% {
    transform: translateY(-10rem);
  }
  60% {
    transform: translateY(2rem);
  }
  65% {
    transform: translateX(5rem);
  }
  70% {
    transform: translateY(-30rem);
  }
  75% {
    transform: translateX(30rem);
    transform: rotate(-25deg);
  }
  100% {
    transform: translateX(70rem);
  }
}
