/* Overall pages display classes */

@font-face {
  font-family: Baron-Neue;
  src: url(Baron-Neue.otf);
}

.title-font-black {
  color: black;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  font-size: 2rem;
  border-bottom: solid 6px #fee001;
  display: inline-block;
}

.project-container {
  margin: 3rem 2rem 3rem 2rem;
}
.contact-container,
.tech-stack-container1,
.title-containers {
  margin: 5rem;
}

/* Nav bar */

.ul-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: solid 6px #fee001;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  height: 4rem;
  font-size: 17.5px;
  background-color: #101010;
  position: fixed;
  min-width: 100%;
  z-index: 200;
}

.ryan-li {
  color: white;
  padding: 2rem;
  flex: 2;
}

.nav-li {
  color: white;
  padding: 2rem;
  flex: 1;
}

.nav-li:hover {
  color: white;
  padding: 2rem;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #fee001;
}

a {
  text-decoration: none;
}

/* Header section */

.header-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
}

.title-font {
  font-size: 3rem;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  color: white;
  text-align: center;
  z-index: 100;
}

.astronaut {
  z-index: 10;
  position: absolute;
  height: 45vh;
  width: auto;
  animation-name: float;
  animation-duration: 180s;
  animation-fill-mode: forwards;
  /* animation-delay: 1s; */
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes float {
  0% {
    transform: translateX(-19rem);
  }
  10% {
    transform: translateY(5rem);
  }
  15% {
    transform: translateX(8rem);
  }
  20% {
    transform: translateY(12rem);
    transform: rotate(-20deg);
  }
  25% {
    transform: translateX(15rem);
    transform: rotate(-10deg);
  }
  30% {
    transform: translateX(25rem);
  }
  50% {
    transform: translateY(-5rem);
  }
  70% {
    transform: rotate(-30deg);
  }
  100% {
    transform: translateX(90rem);
  }
}

.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8,
.star9,
.star10,
.star11,
.star12,
.star13,
.star14,
.star15,
.star16,
.star17,
.star18,
.star19,
.star20,
.star21,
.star22,
.star23,
.star24,
.star25,
.star26,
.star27,
.star28,
.star29,
.star30 {
  z-index: 8;
  border-radius: 50%;
  /* height: 0.5vh;
  width: 0.5vh; */
  height: 5vh;
  width: 5vh;
  opacity: 0.5;
  animation-name: star;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  /* background-color: #fee001; */

  position: absolute;
  animation-duration: 10s;
  top: -230px;
  left: 50px;
}

.star1 {
  animation-duration: 8s;
  top: -230px;
  left: 75px;
  /* background-color: blue; */
}

.star2 {
  animation-duration: 5s;
  top: -230px;
  left: 100px;
  /* background-color: blue; */
}

.star3 {
  animation-duration: 10s;
  top: -230px;
  left: 125px;
  /* background-color: blue; */
}

.star4 {
  animation-duration: 6s;
  top: -230px;
  left: 150px;
  /* background-color: blue; */
}

.star5 {
  animation-duration: 3s;
  top: -230px;
  left: 175px;
  /* background-color: blue; */
}

.star6 {
  animation-duration: 15s;
  top: -230px;
  left: 200px;
  /* background-color: blue; */
}

.star7 {
  animation-duration: 10s;
  top: -230px;
  left: 235px;
  /* background-color: blue; */
}

.star8 {
  animation-duration: 35s;
  top: -230px;
  left: 275px;
  /* background-color: blue; */
}

.star9 {
  animation-duration: 6s;
  top: -230px;
  left: 325px;
  /* background-color: blue; */
}

.star10 {
  animation-duration: 10s;
  top: -630px;
  left: 50px;
  /* background-color: blue; */
}

.star11 {
  animation-duration: 11s;
  top: -230px;
  left: 350px;
  /* background-color: blue; */
}

.star12 {
  animation-duration: 13s;
  top: -230px;
  left: 385px;
  /* background-color: blue; */
}

.star13 {
  animation-duration: 20s;
  top: -230px;
  left: 425px;
  /* background-color: blue; */
}

.star14 {
  animation-duration: 8s;
  top: -230px;
  left: 450px;
  /* background-color: blue; */
}

.star15 {
  animation-duration: 5s;
  top: -230px;
  left: 475px;
  /* background-color: blue; */
}

.star16 {
  animation-duration: 10s;
  top: -230px;
  left: 475px;
  /* background-color: blue; */
}

.star17 {
  animation-duration: 7s;
  top: -230px;
  left: 525px;
  /* background-color: blue; */
}

.star18 {
  animation-duration: 10s;
  top: -230px;
  left: 550px;
  /* background-color: blue; */
}

.star19 {
  animation-duration: 21s;
  top: -230px;
  left: 600px;
  /* background-color: blue; */
}

.star20 {
  animation-duration: 25s;
  top: -230px;
  left: 625px;
  /* background-color: blue; */
}

.star21 {
  animation-duration: 10s;
  top: -230px;
  left: 623px;
  /* background-color: blue; */
}

.star22 {
  animation-duration: 5s;
  top: -230px;
  left: 650px;
  /* background-color: blue; */
}

.star23 {
  animation-duration: 25s;
  top: -230px;
  left: 675px;
  /* background-color: blue; */
}
.star23 {
  animation-duration: 20s;
  top: -230px;
  left: 725px;
  /* background-color: blue; */
}

.star25 {
  animation-duration: 17s;
  top: -230px;
  left: 750px;
  /* background-color: blue; */
}

.star26 {
  animation-duration: 10s;
  top: -230px;
  left: 775px;
}

.star27 {
  animation-duration: 8s;
  top: -230px;
  left: 785px;
}

.star28 {
  animation-duration: 6s;
  top: -230px;
  left: 790px;
}

.star29 {
  animation-duration: 5s;
  top: -230px;
  left: 810px;
}

.star30 {
  animation-duration: 15s;
  top: -230px;
  left: 885px;
}
@keyframes star {
  to {
    transform: translateY(0);
  }
  from {
    transform: translateY(60rem);
  }
}

/* PROFILE --------------------- */

.grid {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 2fr;
  grid-gap: 1rem;
  margin-left: 4rem;
  margin-right: 4rem;
  color: #8d8d8d;
  font-family: 'baron-neue-regular', 'Helvetica', 'Arial';
  font-weight: 400;
  height: 65vh;
  /* grid-auto-rows: minmax(90vh); */
}

.box3 {
  grid-column: 3/3;
  grid-row: 4/1;
}

.grid-paragraph {
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: justify;
  padding: 0;
  line-height: 1.5;
}
.box1 {
  background: url(images/dev-profile.jpg) no-repeat center center;
  background-size: cover;
}

.box2 {
  background: url(images/ryan.jpg) no-repeat center center;
  background-size: cover;
}

.box4 {
  background: url(images/FAC-Crew.jpg) no-repeat center center;
  background-size: cover;
}

.box5 {
  background: url(images/ireland.jpg) no-repeat center center;
  background-size: cover;
}

.box6 {
  background: url(images/oasis.jpg) no-repeat center center;
  background-size: cover;
}

.box7 {
  background: url(images/ryan-mum.jpg) no-repeat center center;
  background-size: cover;
}
/* Projects */
.img-projects {
  height: 30vh;
  width: auto;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* hover styles */
.project-listing {
  position: relative;
}

.project-image {
  line-height: 0;
  overflow: hidden;
}

.project-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.app-title {
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(254, 224, 1, 0.4);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-listing:hover .app-title {
  opacity: 1;
}

.project-listing:hover .project-image img {
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) {
  .app-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

/* Tech Stack section */

.grey-img {
  height: 20vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(0.6);
}

.grey-img:hover {
  height: 20vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: none;
}

.tech-stack-container1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-self: center;
}

.img-items {
  height: 20vh;
  width: 17vw;
  object-fit: contain;
}

/* Contact section  */

.contact-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contactme {
  min-height: 110px;
  min-width: 110px;
  background-color: #101010;
  border-radius: 50%;
  border: solid 4px #fee001;
}

.linkedin-icon {
  height: 9vh;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}

.github-icon {
  height: 12vh;
  margin-left: 0.7rem;
  margin-top: 0.7rem;
}

.email-icon {
  height: 9vh;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}

.iphone-icon {
  height: 9vh;
  margin-left: 1.25rem;
  margin-top: 1.25rem;
}

.title-containers {
  display: flex;
  justify-content: center;
}
