/* OVERALL PAGE DISPLAY  ----------------------------------------------- */
html {
  scroll-behavior: smooth;
}

body {
  max-width: 100%;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

@font-face {
  font-family: Baron-Neue;
  src: url(Baron-Neue.otf);
}

.title-font-black {
  color: black;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  font-size: 2rem;
  border-bottom: solid 6px #fee001;
  display: inline-block;
}

.contact-container,
.tech-stack-container1,
.title-containers {
  margin: 5rem;
}

.title-containers {
  display: flex;
  justify-content: center;
}

/* MEDIA QUERIES   -----------------------------------------------  */

@media only screen and (max-width: 757px) {
  .nav-li {
    display: none;
  }
}

/* NAV BAR  -----------------------------------------------  */

.ul-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border-top: solid 6px #fee001;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  height: 4rem;
  font-size: 17.5px;
  background-color: hsla(0, 0%, 0%, 0.5);
  position: fixed;
  width: 100vw;
  z-index: 200;
}

.ryan-li {
  color: white;
  padding: 2rem;
  flex: 2;
}

.nav-li {
  color: white;
  padding: 2rem;
  flex: 1;
}

.nav-li:hover {
  color: white;
  padding: 2rem;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-color: #fee001;
}

/* HEADER SECTION ----------------------------------------------- */

.header-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
}

.title-font {
  font-size: 3rem;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  color: white;
  text-align: center;
  z-index: 100;
}

/* PROFILE SECTION  ----------------------------------------------- */

.container {
  display: grid;
  grid-template-columns: 10rem 10rem auto;
  grid-template-rows: 10rem 10rem 10rem;
  grid-gap: 1rem;
  margin: 0 1rem 0 1rem;
}

.box1 {
  background: url(images/dev-profile.jpg) no-repeat center center;
  background-size: cover;
}

.box2 {
  background: url(images/ryan.jpg) no-repeat center top;
  background-size: cover;
}

.box3 {
  grid-row: span 3;
  grid-column: span 1;
}

.box4 {
  background: url(images/FAC-Crew.jpg) no-repeat center top;
  background-size: cover;
}

.box5 {
  background: url(images/ireland.jpg) no-repeat center center;
  background-size: cover;
}

.box6 {
  background: url(images/oasis.jpg) no-repeat center top;
  background-size: cover;
}

.box7 {
  background: url(images/ryan-mum.jpg) no-repeat center top;
  background-size: cover;
}

.profile-paragraph {
  font-size: 1rem;
  color: #8d8d8d;
  margin-bottom: 1rem;
  text-align: justify;
  line-height: 1.5;
  font-family: 'baron-neue-regular', 'Helvetica', 'Arial';
  font-weight: 400;
}

@media only screen and (max-width: 766px) {
  .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-gap: 1rem;
    margin: 0 1rem 0 1rem;
  }
  .box3 {
    grid-row-start: 7;
    grid-row-end: 9;
  }
}

/* Projects */
.img-projects {
  height: 30vh;
  width: auto;
}
.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 3rem 2rem 3rem 2rem;
}

/* hover styles */
.project-listing {
  position: relative;
}

.project-image {
  line-height: 0;
  overflow: hidden;
}

.project-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.app-title {
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  font-size: 2rem;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.5s;
  background: rgba(254, 224, 1, 0.4);
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-listing:hover .app-title {
  opacity: 1;
}

.project-listing:hover .project-image img {
  filter: blur(2px);
}

/* for touch screen devices */
@media (hover: none) {
  .app-title {
    opacity: 1;
  }
  .location-image img {
    filter: blur(2px);
  }
}

/* Tech Stack section */

.grey-img {
  height: 20vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%) opacity(0.6);
}

.grey-img:hover {
  height: 20vh;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: none;
}

.tech-stack-container1 {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  justify-self: center;
}

.img-items {
  height: 20vh;
  width: 17vw;
  object-fit: contain;
}

/* Contact section  */

.contact-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.linkedin-icon {
  height: 22vh;
}

.github-icon {
  height: 22vh;
}

.email-icon {
  height: 22vh;
}
.iphone-icon {
  height: 22vh;
}
