.header-image-container,
.header-image-item,
.title-font,
.profile-container,
.projects-container,
.tech-stack-container,
.contact-container,
.gallery-container,
.p-item,
.photos,
.img-container,
.col,
.profile-container,
.p-container,
.title-font-black,
.p-item {
  border: solid 2px darkgrey;
}

.header-image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background: url(images/bg.jpg) no-repeat center center;
  background-size: cover;
}

@font-face {
  font-family: Baron-Neue;
  src: url(Baron-Neue.otf);
}

.title-font {
  font-size: 3rem;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  color: white;
  text-align: center;
}

.title-font-black {
  color: black;
  font-family: 'Baron-Neue', 'Helvetica', 'Arial';
  font-size: 2rem;
  text-align: center;
}
