.star1,
.star2,
.star3,
.star4,
.star5,
.star6,
.star7,
.star8,
.star9,
.star10,
.star11,
.star12,
.star13,
.star14,
.star15,
.star16,
.star17,
.star18,
.star19,
.star20,
.star21,
.star22,
.star23,
.star24,
.star25,
.star26,
.star27,
.star28,
.star29,
.star30,
.star31,
.star32,
.star33,
.star34,
.star35,
.star36,
.star37,
.star38,
.star39,
.star40,
.star41,
.star42,
.star43,
.star44,
.star45,
.star46,
.star47,
.star48,
.star49,
.star50,
.star51,
.star52,
.star53,
.star54,
.star55,
.star56,
.star57,
.star58,
.star59,
.star60 {
  z-index: 8;
  border-radius: 50%;
  height: 0.6vh;
  width: 0.6vh;
  opacity: 0.5;
  animation-name: star;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  position: absolute;
  animation-duration: 10s;
  top: -230px;
  left: 50px;
}

.star1 {
  animation-duration: 8s;
  top: -230px;
  left: 1%;
}

.star2 {
  animation-duration: 5s;
  top: -230px;
  left: 2%;
}

.star3 {
  animation-duration: 10s;
  top: -230px;
  left: 4%;
}

.star4 {
  animation-duration: 6s;
  top: -230px;
  left: 5%;
}

.star5 {
  animation-duration: 3s;
  top: -230px;
  left: 6%;
}

.star6 {
  animation-duration: 15s;
  top: -230px;
  left: 8%;
}

.star7 {
  animation-duration: 10s;
  top: -230px;
  left: 10%;
}

.star8 {
  animation-duration: 35s;
  top: -230px;
  left: 12%;
}

.star9 {
  animation-duration: 6s;
  top: -230px;
  left: 14%;
}

.star10 {
  animation-duration: 10s;
  top: -630px;
  left: 16%;
}

.star11 {
  animation-duration: 11s;
  top: -230px;
  left: 18%;
}

.star12 {
  animation-duration: 13s;
  top: -230px;
  left: 20%;
}

.star13 {
  animation-duration: 20s;
  top: -230px;
  left: 22%;
}

.star14 {
  animation-duration: 8s;
  top: -230px;
  left: 24%;
}

.star15 {
  animation-duration: 5s;
  top: -230px;
  left: 26%;
}

.star16 {
  animation-duration: 10s;
  top: -230px;
  left: 28%;
}

.star17 {
  animation-duration: 7s;
  top: -230px;
  left: 30%;
}

.star18 {
  animation-duration: 10s;
  top: -230px;
  left: 32%;
}

.star19 {
  animation-duration: 21s;
  top: -230px;
  left: 34%;
}

.star20 {
  animation-duration: 25s;
  top: -230px;
  left: 36%;
}

.star21 {
  animation-duration: 10s;
  top: -230px;
  left: 38%;
}

.star22 {
  animation-duration: 5s;
  top: -230px;
  left: 40%;
}

.star23 {
  animation-duration: 25s;
  top: -230px;
  left: 42%;
}
.star23 {
  animation-duration: 20s;
  top: -230px;
  left: 44%;
}

.star25 {
  animation-duration: 17s;
  top: -230px;
  left: 46%;
}

.star26 {
  animation-duration: 10s;
  top: -230px;
  left: 48%;
}

.star27 {
  animation-duration: 8s;
  top: -230px;
  left: 50%;
}

.star28 {
  animation-duration: 6s;
  top: -230px;
  left: 52%;
}

.star29 {
  animation-duration: 5s;
  top: -230px;
  left: 54%;
}

.star30 {
  animation-duration: 15s;
  top: -230px;
  left: 56%;
}

.star31 {
  animation-duration: 15s;
  top: -230px;
  left: 58%;
}

.star32 {
  animation-duration: 10s;
  top: -230px;
  left: 60%;
}

.star33 {
  animation-duration: 4s;
  top: -230px;
  left: 62%;
}

.star34 {
  animation-duration: 20s;
  top: -230px;
  left: 64%;
}

.star35 {
  animation-duration: 15s;
  top: -230px;
  left: 66%;
}

.star36 {
  animation-duration: 10s;
  top: -230px;
  left: 68%;
}

.star37 {
  animation-duration: 4s;
  top: -230px;
  left: 70%;
}

.star38 {
  animation-duration: 20s;
  top: -230px;
  left: 72%;
}
.star39 {
  animation-duration: 10s;
  top: -230px;
  left: 74%;
}

.star40 {
  animation-duration: 13s;
  top: -230px;
  left: 76%;
}

.star41 {
  animation-duration: 13s;
  top: -230px;
  left: 78%;
}

.star42 {
  animation-duration: 4s;
  top: -230px;
  left: 80%;
}

.star43 {
  animation-duration: 2s;
  top: -230px;
  left: 82%;
}

.star44 {
  animation-duration: 23s;
  top: -230px;
  left: 84%;
}

.star45 {
  animation-duration: 11s;
  top: -230px;
  left: 86%;
}

.star46 {
  animation-duration: 12s;
  top: -230px;
  left: 88%;
}

.star47 {
  animation-duration: 20s;
  top: -230px;
  left: 90%;
}

.star48 {
  animation-duration: 14s;
  top: -230px;
  left: 92%;
}

.star49 {
  animation-duration: 16s;
  top: -230px;
  left: 94%;
}

.star50 {
  animation-duration: 18s;
  top: -230px;
  left: 96%;
}

.star51 {
  animation-duration: 14s;
  top: -230px;
  left: 98%;
}

.star52 {
  animation-duration: 4s;
  top: -230px;
  left: 3%;
}

.star53 {
  animation-duration: 9s;
  top: -230px;
  left: 23%;
}

.star54 {
  animation-duration: 12s;
  top: -230px;
  left: 25%;
}

.star55 {
  animation-duration: 18s;
  top: -230px;
  left: 29%;
}

.star56 {
  animation-duration: 18s;
  top: -230px;
  left: 33%;
}

.star57 {
  animation-duration: 30s;
  top: -230px;
  left: 63%;
}

.star58 {
  animation-duration: 4s;
  top: -230px;
  left: 69%;
}

.star59 {
  animation-duration: 7s;
  top: -230px;
  left: 73%;
}

.star60 {
  animation-duration: 10s;
  top: -230px;
  left: 81%;
}
@keyframes star {
  to {
    transform: translateY(0);
  }
  from {
    transform: translateY(60rem);
  }
}
